/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/styles.scss */
nav .nav-wrapper {
  padding: 0 25px;
}
/* line 14, ../sass/styles.scss */
nav .nav-wrapper .brand-logo {
  color: #fbc02d;
  font-size: 1.7rem;
}

/* line 21, ../sass/styles.scss */
.valign-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 7px 0px 13px 0px rgba(64, 64, 64, 0.65);
  -moz-box-shadow: 7px 0px 13px 0px rgba(64, 64, 64, 0.65);
  box-shadow: 7px 0px 13px 0px rgba(64, 64, 64, 0.65);
  z-index: 1;
}

/* line 34, ../sass/styles.scss */
.card#price-card {
  width: 40%;
  margin: 0 auto;
  height: 0;
  padding: 20% 0;
  border-radius: 50%;
  position: relative;
}
/* line 41, ../sass/styles.scss */
.card#price-card .card-content {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
/* line 46, ../sass/styles.scss */
.card#price-card .card-content p {
  color: #fbc02d;
  text-align: center;
  margin: 0;
}
/* line 50, ../sass/styles.scss */
.card#price-card .card-content p.heading {
  text-transform: lowercase;
  font-size: 22px;
}
/* line 54, ../sass/styles.scss */
.card#price-card .card-content p.text {
  margin-top: -15px;
  font-size: 60px;
}
/* line 57, ../sass/styles.scss */
.card#price-card .card-content p.text span {
  font-size: 32px;
  vertical-align: super;
}
/* line 65, ../sass/styles.scss */
.card#location-card {
  width: 65%;
  margin: 100px auto 0;
}

/* line 71, ../sass/styles.scss */
form {
  color: #000;
  text-align: center;
}
/* line 74, ../sass/styles.scss */
form .row {
  margin-bottom: 0;
}
/* line 77, ../sass/styles.scss */
form #inputRange {
  margin-top: 5px;
}
/* line 80, ../sass/styles.scss */
form a {
  margin-top: 25px;
}

/* line 85, ../sass/styles.scss */
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
/* line 92, ../sass/styles.scss */
.map-container .map {
  height: 100%;
}
