/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/styles.scss */
nav .nav-wrapper {
  padding: 0 25px;
}
/* line 14, ../sass/styles.scss */
nav .nav-wrapper .brand-logo {
  color: #fbc02d;
  font-size: 1.7rem;
}

/* line 21, ../sass/styles.scss */
.valign-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

/* line 30, ../sass/styles.scss */
.card#price-card {
  width: 40%;
  margin: 0 auto;
  height: 0;
  padding: 20% 0;
  border-radius: 50%;
  position: relative;
}
/* line 37, ../sass/styles.scss */
.card#price-card .card-content {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
/* line 42, ../sass/styles.scss */
.card#price-card .card-content p {
  color: #fbc02d;
  text-align: center;
  margin: 0;
}
/* line 46, ../sass/styles.scss */
.card#price-card .card-content p.heading {
  text-transform: lowercase;
  font-size: 22px;
}
/* line 50, ../sass/styles.scss */
.card#price-card .card-content p.text {
  margin-top: -15px;
  font-size: 60px;
}
/* line 53, ../sass/styles.scss */
.card#price-card .card-content p.text span {
  font-size: 32px;
  vertical-align: super;
}
/* line 61, ../sass/styles.scss */
.card#location-card {
  width: 65%;
  margin: 100px auto 0;
}
